<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580393258737-7csj7kg50g9an9q1mhflh1dkf693tn7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580393258737-7csj7kg50g9an9q1mhflh1dkf693tn7k</string>
	<key>API_KEY</key>
	<string>AIzaSyDpeO3WxkpR6ZgWCmL9ymUDem7IN05eiSA</string>
	<key>GCM_SENDER_ID</key>
	<string>580393258737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gt.app.Demo</string>
	<key>PROJECT_ID</key>
	<string>demoapp-f02ba</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-f02ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580393258737:ios:bf3f326d726e54bb5ce350</string>
</dict>
</plist>